version: "3.8"
services:
  backend:
    build: ./backend
    container_name: back1
    ports:
      - "5000:5000"
    restart: always
    environment:
      - JWT_SECRET=random#secret
      - STRIPE_SECRET_KEY=sk_test_51Pue0T03gkpmcZw2xcDKsPtsOIs3ptG2mCosHsCkqhrnqiqSssTu5iKMPAXap3XvEPw08Cz4Su6wYOgGBfFxNrqY00wYvAo48T
      - MONGO_URI=mongodb+srv://itzsyed1212:itzsyed12@cluster0.roxpiqj.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0

  frontend:
    build: ./frontend
    container_name: front1
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - backend
    environment:
      - VITE_PUBLIC_URL=http://16.171.54.54:5000
